.suggestion {
  margin-bottom: 20px;
  margin-top: 20px;
}

.panel-title {
  color: black;
  font-size: 700;
  font-style: italic;
}

.panel-heading {
  background-color: lightskyblue;
}

.panel-body img {
  height: 400px;
  width: 660px;
}

.panel-body {
  background-color: lightsalmon;
}

.jumbotron {
  background-color: lightskyblue;
}

body {
  background-color: lightgreen
}

#CityOcean {
  display: none
}

#CityRiver {
  display: none
}

#CityLake {
  display: none
}

#RuralOcean {
  display: none
}

#RuralLake {
  display: none
}

#RuralRiver {
  display: none
}

